.socre-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 24px;
    height: 24px;
}

th {
    padding: 10px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
}

h3 {
    width: 200px;
}