* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border: rgba(128, 128, 128, 0.5) solid 1px;
    border-collapse: collapse;
}

table tr:nth-child(odd) {
    background-color: rgba(4, 247, 255, 0.068);
}

table tr th{
    padding: 20px;
    color: rgb(58, 57, 57);
}

table th img {
    height: 28px;
    width: 28px;
}

table tr:nth-child(1) {
    background-color: rgb(56, 0, 60);
}

table tr:nth-child(1) th {
    color: #04f5ff;
}
