* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    border: gray solid 1px;
}

table tr {
    border-bottom: gray solid 1px;
}

table th img {
    height: 30px;
    width: 30px;
}